body {
  background-color: yellow;}

h1 {
  color: #17202A;
  font-family: Georgia, Times, san-serif;
  text-align: center;
  text-shadow: 2px 2px #ff0000;
  font-size: 225%;} 

.header {}

.day-box PREP {
  border-width: 2px;
  border-style: solid;
  border-color: #0088dd;}

.day-box CURRENT {
  border-width: 2px;
  border-style: solid;
  border-color: #0088dd;}

.day-box COMPLETED {
  border-width: 2px;
  border-style: solid;
  border-color: #0088dd;}

